html,body{
  padding: 0;
  margin: 0;
}
body {
  background-color: blue;
}
.header{
  background-color: #fff;
  height: 64px;
  /* justify-content: center; */
  align-items: center;
  display: flex;
  padding-left: 10px; 
  border-bottom: 1px solid #ddd;
  padding: 16px 32px;

}
/*Dat zorgt ervoor dat het logo links blijft en de ul naar rechts gaat.*/
.logo{
  margin-right: auto;
}
.logo img{
  height: 80px;
  cursor: pointer;
}
.nav a {
  text-decoration: none;
  color: #333;
  
}

.nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}
.content{
    background-color: #f5f5f5;
    height: calc(100vh - 192px);
    padding: 50px;
    box-sizing:border-box;
}

/* Product card */

.product-card{
  width: 360px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 10px 25px rgba(0,0,0,0,08);
  overflow: hidden;
  font-family: sans-serif;
}

.product-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.product-info {
  padding: 20px;
}

.product-info h2 {
  margin: 0;
  font-size: 20px;
}

.product-info p{
  color:#666;
  font-size: 14px;
  margin: 10px 0 20px;
}

.product-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-footer button{
  background-color: #4f46e5;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 12px;
  font-size: 14px;
  cursor: pointer;
}

.product-footer button:hover{
  background: #4338ca;
}

.footer{
   background-color: beige;
   padding: 20px 0;
   text-align: center;
}
/* COMPONENTS */
.textfooter{
  text-align: center;
  color: gray;
  font-size: 14px;
}
.sr-only{
  text-align: center;
  color: gray;
  padding: 20px;
}